.virtualized-table-scroll {
  overflow-y: auto !important;
  overflow-x: auto !important;
}

.virtualized-games-table-wrapper {
  width: 100%;
  height: 100%;
}

.virtualized-games-table-list {
  width: 100%;
  height: 100%;
  min-width: 520px;
}

.virtualized-games-table-list > div {
  display: table;
  width: 100%;
  min-width: 520px;
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 0;
}

.virtualized-table-row-wrapper {
  display: table-row;
}
