.websites-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4px;
}

.websites-list-item {
  color: rgba(255, 255, 255, 0.8);
  font-family: var(--font-body-2-font-family);
  font-size: var(--font-body-2-font-size);
  line-height: var(--font-body-2-line-height);
  text-decoration: none;
  cursor: pointer;
  display: inline;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
}

.websites-list-item:hover {
  text-decoration: underline;
  color: rgba(255, 255, 255, 1);
}

